@import "normalize";
@import "components/variables";
@import "components/loader/loading";
@import "components/chat/chat";
@import "components/login/login";

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container{
  height: 100vh;
  background-color: $BACKGROUND-COLOR;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/bg.png);
  background-size: contain;
  background-position: center
}

.text{
  margin: 0;
}
.ml-i{
  margin-left: 5px;
}