.message{
    display: flex;
    flex-direction: column;
    min-width: auto;
    max-width: 65%;
    margin-bottom: 1rem;
    align-self: flex-start;
    animation-name: message-entrance;
    animation-duration: 0.7s;
    @media only screen and (max-width: $M-PHONE) {
      width: 90%;
    }
    &__text{
      border-radius: 30px 40px 40px 0;
      background-color: #f1f1f1;
      padding: 0.75rem 1.75rem;
      @media only screen and (max-width: $M-PHONE) {
        padding: 0.75rem 1rem;
      }
      &__text{
        color: #8888aa;
        font-size: 1.1rem;
        letter-spacing: 0.3px;
        line-height: 1.5;
        display: inline-block;
        word-wrap:break-word;
        width: 100%;
      @media only screen and (max-width: $M-PHONE) {
        font-size: 1rem;
      }
      }
    }
    &__info{
     display: flex;
     align-items: center; 
     margin-top: 8px;
     &__img{
       width:25px;
       height:25px;
       background-color: $BACKGROUND-COLOR;
       display: block;
       border-radius: 50%;
       margin-right: 5px;
      }
      &__name{
        font-weight: 700;
        color: $PRIMARY-COLOR;
        padding-right: 1rem;
        font-size: 15px;
        letter-spacing: 0.3px;
        @media only screen and (max-width: $M-PHONE) {
          font-size: 14px;
          max-width: 110px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
     }
     &__time{
       color: $GRAY-COLOR;
       font-size: 12px;
       letter-spacing: 0.3px;
       font-weight: 500;
       @media only screen and (max-width: $M-PHONE) {
        font-size: 10px;
      }
     }
    }
  }
  .message.message--sent{
    align-self: flex-end;
      .message__text{
        background-color: $PRIMARY-COLOR;
        border-radius: 40px 30px 0px 40px;
        &__text{
          color: #fff;
        }
      }
      .message__info{
        display: flex;
        align-items: center; 
        flex-direction: row-reverse;
        justify-content: flex-start;
        &__img{
          margin-left: 5px;
        }
        &__name{
          margin-left: 1rem;
          padding-right: 0;
        }
      }
  }